@model IEnumerable<Project1.Models.Contacts>

@{
    ViewBag.Title = "Users";

    //if (Session["id"] == null)
    //{
    //    Response.Redirect("~/Home/Login");
    //}
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            
            <a class="navbar-brand" href="#">User Contacts</a>
        </div>

       
            <form class="navbar-form navbar-left">

                <a href="@Url.Action("Create", "Contact") " class="btn btn-primary">New Record</a>

                @using (Ajax.BeginForm("data", "Contact", new AjaxOptions { OnSuccess = "success" }))
                {

                    <div class="form-group">
                        <input class="form-control" name="Search" type="search" placeholder="Search">                        
                    </div>
                        <button class="btn btn-primary" type="submit">Search</button>
                }
            </form>

            <ul class="nav navbar-nav navbar-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Welcome: @Session["uname"].ToString()</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Login", "Home")" name="Logout">Logout</a></li>
                    </ul>
                </div>
            </ul>
        </div><!-- /.navbar-collapse -->  
</nav>

<div class="panel panel-default">
    <div id="partialzone">
        @Html.Partial("data", Model)
    </div>
</div>


@section scripts {
  <script>
     function success(d) {
         $('#partialzone').html(d);

        }
  </script>
}







