@model IEnumerable<Project1.Models.Contacts>

@{
    ViewBag.Title = "Users";

    //if (Session["id"] == null)
    //{
    //    Response.Redirect("~/Home/Login");
    //}
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            
            <a class="navbar-brand" href="#">User Contacts</a>
        </div>

            <Form class="navbar-form navbar-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Welcome: @Session["uname"].ToString()</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Logout", "Contact", new { area = "" })">Logout</a></li>
                    </ul>
                </div>
            </Form>
        </div><!-- /.navbar-collapse -->  
</nav>


<div class="navbar-form navbar-left">
    <a href="@Url.Action("Create", "Contact", new { area = "" }) " class="btn btn-primary">New Record</a>
    
    </div>

<div class="navbar-form navbar-right">
    @using (Ajax.BeginForm("data", "Contact", new AjaxOptions { OnSuccess = "success" }))
    {
        <div class="form-group">            
             <input class="form-control" name="Search" type="search" placeholder="Search">                
        </div>
            <button class="btn btn-primary" type="submit">Search</button>
    }
</div>


    <div class="panel panel-default">
        <div id="partialzone">
            @Html.Partial("data", Model)
        </div>
    </div>


    @section scripts {
        <script>
            function success(d) {
                $('#partialzone').html(d);

            }
        </script>
    }







