@model IEnumerable<Project1.Models.Contacts>

@{
    ViewBag.Title = "Users";
    Layout = null;
    if (Session["id"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2>User Contacts</h2>

<div>
    <h4>welcome: @Session["uname"].ToString()</h4>
    <a href="@Url.Action("Login", "Home")" class="btn btn-primary">Logout</a>
</div>

    <div class="row">

        <div class="col">
            <a href="@Url.Action("Create", "Contact") " class="btn btn-primary">New Record</a>
        </div>

        <div class="col">
            @using (Ajax.BeginForm("data", "Contact", new AjaxOptions { OnSuccess = "success" }))
            {
                <div class="row ">
                    <div class="col">
                        <input class="form-control" name="Search" type="search" placeholder="Search" aria-label="Search ">
                    </div>

                    <div class="col">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            }
        </div>

    </div>







  
<div id="partialzone">

    @Html.Partial("data", Model)

</div>

@section scripts {
  <script>
     function success(d) {
            $('#partialzone').html(d);
        }

  </script>
}







